from loguru import logger

from {{ package_module }}.settings import app_settings


def main() -> int:
    logger.info(
        "Hello from {{ project_name }}! sample_variable={value}",
        value=app_settings.MY_SAMPLE_VARIABLE,
    )
    return 0
